* {
    margin: 0;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

/* Side Bar */
#side-bar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    background-color: black;
    float: left;
    color: white;
    width: 15vw;
}

.side-bar-list {
    list-style-type: none;
    caret-color: transparent;
}

.side-bar-list>li:hover {
    cursor: pointer;
}

#side-bar>p {
    font-size: 25px;
    caret-color: transparent;
}

#side-bar>p:hover {
    cursor: pointer;
}

/* Projects Styling */

#project-header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content:right;
}
